* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'ABeeZee', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000000;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Actor&family=Inter:wght@400;500;600&display=swap');


